* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
:root {
  --footer-height: 90px;
}
body {
    background-color: rgb(240, 256, 240);
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.title {
    padding: 10px 5px;
    text-shadow: 2px 2px 5px gray;
}

.subtitle {
    padding: 5px 0px;
    text-shadow: 2px 2px 5px rgb(180, 180, 180);
}

.nodec_tag>a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 5px gray;
    padding: 5px;
}

.section_box {
    border: 2px solid green;
    border-radius: 10px;
    background-color: white;
    width: 280px;
    height: 150px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgb(173, 173, 173);
}
.section_box:hover{
    background-color: rgb(240, 240, 240);
    padding-top: 11px;
}

.section_link {
  text-decoration: none;
  color: inherit;
  display: block;
}


.aside_box {
    background-color: rgb(188, 239, 188);
    margin: 20px;
    padding: 10px;

}

.aside_box li {
    margin: 10px 5px;
}

.every {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px 40px;
    padding: 10px;
    overflow:auto;
}
.wrapper{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
    padding-bottom: var(--footer-height);
}

.header {
    background-color: rgb(32, 180, 32);
    color: white;
    text-align: center;
    padding: 10px;
}

.nav {
    background-color: rgb(22, 201, 22);
    text-align: center;
    padding: 8px;
}

.section {
    flex: 4;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 20px 40px;
    padding: 20px;
}

.aside {
    flex: 1;
    flex-wrap: nowrap;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: rgb(22, 201, 22);
    height: var(--footer-height);
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    flex-direction: column;
}
